h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nobutton,
#yesbutton {
  color: black;
  width: 80px; /* Adjust the width as needed */
  height: 50px;
  padding: 5px;
  background-color: white;
  position: absolute;
  bottom: 70px;
}

#nobutton {
  right: 50%;
}

#yesbutton {
  left: 50%;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  h1,
  img {
    width: 100%;
  }

  #nobutton,
  #yesbutton {
    position: absolute;
    bottom: 20px; /* Adjust the bottom margin as needed */
    width: 80px;
    height: 50px;
  }

  #nobutton {
    right: 50%;
  }

  #yesbutton {
    left: 50%;
  }
}
